
*
{
    font-size: 20px;

    -webkit-box-sizing: border box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #edeeef;
    border: none;
    outline: none;
}

@font-face
{
    font-family: PressStart2P;

    src: url(../fonts/PressStart2P.ttf);
}

body
{
    font-family: PressStart2P;

    background-color: black;
}

#location-img
{
    width: 384px;
    margin-top: .5em;
    margin-bottom: .5em;

    border: .2em solid #edeeef;
}

#main-input
{
    font-family: PressStart2P;

    float: left;

    background-color: #35383d;
}

#main
{
    width: 1024px;
    height: 525px;
    margin: 4.5vh auto;

    border: .1em solid #35383d;
    background-color: #35383d;
}

#input-div
{
    width: 100%;
    height: 20px;
    margin-top: 3.5em;
    margin-bottom: 1em;
}

#input-div-text
{
    float: left;
    width: 192px;
}

#message-div,
#help-div
{
    font-family: PressStart2P;

    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
}

#location-moves,
#location-items,
#player-inventory-field
{
    margin-top: .3em;
}

#intro-img
{
    position: relative;
    z-index: 10;

    width: 100%;
    height: 100%;

    transition: opacity 1s;

    opacity: .8;
}

.compass_div
{
    float: right;

    width: 384px;
    max-width: 384px;
    max-height: 200px;
    margin-top: 50px;
    margin-right: 65px;
}

#compass
{
    z-index: 10;

    display: block;

    width: 100%;
    height: 100%;
}

.compass_close
{
    position: relative;
    z-index: 100;

    width: 25px;
    height: 25px;

    background-color: #35383d;
}

#compass-west
{
    bottom: 135px;
    left: 20px;
}

#compass-east
{
    bottom: 157px;
    left: 342px;
}

#compass-north
{
    bottom: 235px;
    left: 170px;
}

#compass-south
{
    bottom: 100px;
    left: 177px;
}

#cursor
{
    float: left;
    width: 15px;
    top: 0;
    height: 100%;
    background-color: #edeeef;
}
