
*
{
    font-size: 1.05em;

    -webkit-box-sizing: border box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: grey;
    border: none;
    outline: none;
}

@font-face
{
    font-family: PressStart2P;

    src: url(../fonts/PressStart2P.ttf);
}

body
{
    font-family: PressStart2P;

    background-color: black;
}

#location-img
{
    width: 512px;
    margin-top: .5em;
    margin-bottom: .5em;

    border: .2em solid grey;
}

#main-input
{
    font-family: PressStart2P;

    float: right;

    width: 74%;

    background-color: black;
}

#main
{
    width: 768px;
    margin-left: 1em;
}

#input-div-text
{
    float: left;
    width: 26%;
}

#message-div
{
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    font-family: PressStart2P;
    position: relative;
    background-color: black;
}
